/***** Grid System Variables *****/

$baseWidth: 100%;
$baseColumns: 24;
$baseColumnWidth: ( 100% / $baseColumns );
$baseGutterWidth: 20px;
$outsideGutters: true;

/***** Grid System *****/

// Box Sizing Border-Box for all elements

*, *:before, *:after {
    box-sizing: border-box;
}

// Base Styling

img, picture {
    max-width: 100%;
}

// Row Styling

.row {
    width: 100%;
    max-width: $baseWidth;
    margin: 0;

    // If Outer Gutters are set to true

    @if $outsideGutters == true {

        padding: 0 ( $baseGutterWidth / 2 );

    // If Outer Gutters are set to false

    } @else {
        padding: 0;
    }

    // Micro Clear Fix

    &:after {
        @extend %clearfix;
    }

    // Nested Rows

    .row {
        width: auto;
        min-width: 0;
        max-width: none;
        padding: 0;

        // If Outer Gutters are set to true

        @if $outsideGutters == true {

            margin: 0 ( $baseGutterWidth / -2 );
        }
    }
}

// Base Column Style

[class*="column-"] {
    padding: 0 ( $baseGutterWidth / 2 );
}

@include media(cinema) {

    @for $i from 1 through $baseColumns {

        .column-#{$i} {
            width: ( $baseColumnWidth * $i);
        }

        .prepend-#{$i} {
            margin-left: ( $baseColumnWidth * $i );
        }

        .append-#{$i} {
            margin-right: ( $baseColumnWidth * $i );
        }
    }
}


@include media(desktop)  {

    @for $i from 1 through $baseColumns {

        .desktop-column-#{$i} {
            width: ( $baseColumnWidth * $i);
        }

        .desktop-prepend-#{$i} {
            margin-left: ( $baseColumnWidth * $i );
        }

        .desktop-append-#{$i} {
            margin-right: ( $baseColumnWidth * $i );
        }
    }
}

// Large Displays (viewport widths larger than 1440px)

@include media(tablet)  {

    @for $i from 1 through $baseColumns / 2 {

        .tablet-column-#{$i} {
            width: ( $baseColumnWidth * 2 * $i) ;
        }

        // Large Prepend/Append Classes

        .tablet-prepend-#{$i} {
            margin-left: ( $baseColumnWidth * 2  * $i);
        }

        .tablet-append-#{$i} {
            margin-right: ( $baseColumnWidth * 2 * $i );
        }
    }
}

@include media(phone) {

    @for $i from 1 through $baseColumns / 4 {

        .phone-column-#{$i} {
            width: ( $baseColumnWidth * 4 * $i) ;
        }

        // Large Prepend/Append Classes

        .phone-prepend-#{$i} {
            margin-left: ( $baseColumnWidth * 4  * $i);
        }

        .phone-append-#{$i} {
            margin-right: ( $baseColumnWidth * 4 * $i );
        }
    }
}
